/* Celulares */
@media screen and (min-width:320px) and (max-width:780px) {

    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 86vw;
        height: 90vh;
        margin-top: 11px;
    }

    .box-count{
        display: block;
    }

    label{
        padding: 8px;
    }

    input[type="number"]{
        width: 84vw;
        height: 35px;
    }

    .box-bttns-tip{
        display: flex;
        justify-content: center;
        gap: 18px;
        flex-wrap: wrap;
    }
    
    #box-result{
        text-align: center;
        width: 80vw;
        padding: 8px;
    }
}
