/* Celulares */
@media screen and (min-width:320px) and (max-width:780px) {

    .container{
        width: 83vw;
        height: 64vh;
        margin-top: 15px;
    }

    .box-count{
        display: block;
    }

    label{
        padding: 8px;
    }

    input[type="number"]{
        width: 80vw;
        height: 36px;
    }

    .box-bttns-tip{
        display: flex;
        gap: 13px;
        flex-wrap: wrap;
    }
    
    #box-result{
        display: flex;
        align-items: baseline;
        width: 83vw;
        height: 30vh;
        padding: 10px;
    }
}
