/* Celulares */
@media screen and (min-width:320px) and (max-width:780px) {

    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 86vw;
        height: 93vh;
        margin-top: 10px;
    }

    .box-count{
        display: block;
    }

    label{
        padding: 6px;
    }

    input[type="number"]{
        width: 82vw;
        height: 36px;
    }

    .box-bttns-tip{
        display: flex;
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;
    }
    
    #box-result{
        text-align: center;
        width: 80vw;
        padding: 8px;
    }

    h3{
        font-weight: lighter;
    }
}
