@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

h2{
    font-size: 1.4em;
    text-align: left;
    padding: 10px;
}

h3{
    line-height: 1.3em;
    padding-left: 5px;
}

body{
    font-family: 'Azeret Mono', Arial, Helvetica, sans-serif;
    background-color: #eaf5cf;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    background-color: #ffff;
    padding: 13px;
    margin: auto;
    margin-top: 33px;
    width: 51vw;
    height: 60vh;
    border-radius: 11px;
    border: none;
    border: 1px solid #0000005d
}

.box-count{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.box-count > div{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#box-result{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #D2F898;
    width: 50vw;
    border-radius: 4px;
    font-weight: bold;
    margin: auto;
    margin-top: 40px;
    box-sizing: border-box;
}

input[type="number"]{
    width: 250px;
    height: 23px;
    padding: 4px;
    border: 1px solid rgb(0, 0, 0);
    border: none;
    font-size: 1em;
    font-family: 'Azeret Mono', Arial, Helvetica, sans-serif;
    text-align: right;
    background-color: #f8f8f8;
    border-radius: 5px;
    margin-bottom: 10px;
}

.box-bttns-tip > input{
    font-family: 'Azeret Mono', Arial, Helvetica, sans-serif;
    font-size: 19px;
    font-weight: bold;
    letter-spacing: 2px;
    cursor: pointer;
    width: 82px;
    height: 61px;
    padding: 4px;
    border: none;
    border-radius: 5px;
    background-color: #292E1E;
    color: #ffffff;
} 

label{
    margin-bottom: 5px;
    padding: 6px
}

.box-bttns-tip{
    display: flex;
    align-items: center;
    gap: 25px;
}