@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
    margin: 0px;
    padding: 0px;
}

h2{
    font-size: 1.6em;
    text-align: left;
    padding: 10px;
}

body{
    background-color: #fffde8;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

.form-container{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    background-color: #ffff;
    padding: 13px;
    margin: auto;
    margin-top: 20px;
    width: 370px;
    height: auto;
    border-radius: 10px;
    box-shadow:-12px 5px 25px -15px rgba(0, 0, 0, 0.389);
}

span{
    font-size: 17px;
    font-weight: bold;
    margin: 7px;
}

input[type="number"]{
    width: 130px;
    height: 23px;
    padding: 4px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    margin-bottom: 10px;
}

label{
    margin-bottom: 5px;
    padding: 5px
}

select{
    border: 1px solid rgb(0, 0, 0);
    width: 130px;
    height: 27px;
    padding: 5px;
}

.bttn-form{
   background-color: #058E3F;
    color: #ffff;
    border: none;
    font-weight: bold;
    cursor: pointer;
    padding: 5px;
    margin: 15px 6px 7px 4px;
    width: 150px;
    height: 33px;
}
