@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
    margin: 0px;
    padding: 0px;
}

h2{
    font-size: 1.6em;
    text-align: left;
    padding: 10px;
}

body{
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    background-color: #F7F7FF;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    background-color: #ffffff;
    padding: 13px;
    margin: auto;
    margin-top: 23px;
    width: 50vw;
    height: auto;
    border-radius: 10px;
    box-shadow:-12px 5px 25px -15px rgba(0, 0, 0, 0.389);
}

.box-count{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.box-count > div{
    display: flex;
    flex-direction: column;
}

span{
    padding: 5px;
    font-weight: bold;
    margin: 12px;
}

input[type="number"]{
    width: 250px;
    height: 23px;
    padding: 4px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    margin-bottom: 10px;
}

.box-bttns-tip > input{
    cursor: pointer;
    width: 80px;
    height: 60px;
    padding: 4px;
    border: 1px solid #000;
    border-radius: 4px;
    background-color: #132A13;
    color: #ffffff;
}

label{
    margin-bottom: 5px;
    padding: 6px
}

.box-bttns-tip{
    display: flex;
    flex-direction: row;
    gap: 25px;
}